.layout {
    &__header {
        display: flex;
        justify-content: space-between;
        background-color: orange;
        padding: 20px 40px;
    }

    &__main {
        padding: 40px;
    }

    &__footer {
        background-color: orange;
        padding: 20px 40px;
        text-align: center;
    }
}